{#
/**
 * @file
 * Theme implementation for rendering a tooltip property on a field.
 *
 * Available variables:
 * - tooltip_content: Tooltip content provide in setting.
 * - text: Content of the field.
 */
#}

<p title="{{ tooltip_content }}">{{ text }}</p>
